<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PackApp Multis</title>
    <link rel="stylesheet" href="css/singles.css" />
    <link rel="stylesheet" href="css/multis.css" />
</head>

<body>
    <input type="text" id="scanner-input" />
    <!-- Scan Workstation -->
    <div id="multis-scan-workstation-wrapper" class="clearfix login-wrapper-inner">
        <header>
            <img src="img/pack_logo.png" alt="Pack App" class="float-left">
            <div class="login-user-container">
                <img class="login-user-img" src="img/user.jpg" alt="User Image">
                <span id="login-user-name" class="login-user-name">allrobins</span>
            </div>
        </header>

        <div class="login-container">
            <header id="scan-workstation-header" class="rounded-top-corners-small">Scan your workstation</header>
            <img src="img/login-workstation.png" alt="Workstation" class="login-img">
            <input id="workstation-input" type="text" placeholder="Workstation Barcode" class="login-input" autofocus="true">
        </div>
    </div>
    <!-- End Scan Workstation -->

    <!-- Multis main wrapper -->
    <div id="multisScreen" class="multis-wrapper">
        <!-- Main Header -->
        <header id="main-header" class="main-header"></header>

        <!-- Process -->
        <section id="process" class="process container">
            <span class="pack-type rounded-left-corners-small center-text">
                Multis Pack
            </span>
            <span id="multis-process-arrow-left" class="arrow left-arrow-complete">
                Scan cart to begin
                <span></span>
            </span>
            <span id="multis-process-arrow-center" class="arrow center-arrow-incomplete">
                <span class="arrow-rear"></span>
                Pack each slot
                <span class="center-arrow-front"></span>
            </span>
            <span id="multis-process-arrow-right" class="arrow right-arrow-incomplete">
                <span class="arrow-rear"></span>
                Cart complete
            </span>

        </section>

        <!-- Item Info -->
        <section id="multis-item-info" class="item-info">
            <!-- Left Column -->
            <div id="multis-column-left" class="multis-column-left">
                <!-- Top Container -->
                <div class="multis-container-top container">
                    <header class="multis-container-header rounded-top-corners-small">Slot</header>
                    <div id="multis-slot-recommendation" class="multis-info"></div>
                </div>
                <!-- Bottom Container -->
                <div class="multis-container-bottom container">
                    <header class="multis-container-header rounded-top-corners-small">Box</header>
                    <div id="multis-box-recommendation" class="multis-info"></div>
                </div>
            </div>

            <!-- Caret Left Column -->
            <div id="multis-caret-column-left" class="multis-caret-column float-left"></div>

            <!-- Center Column showing items -->
            <div id="center-column" class="multis-items-column container"></div>

            <div class="multis-column-right">
                <!-- Multis Shipment Container -->
                <div class="multis-large-container-top container">
                    <header class="multis-container-header rounded-top-corners-small">Shipment</header>
                    <div id="shipment-information" class="multis-info"></div>
                </div>

                <!-- Last Scanned -->
                <div id="last-shipment-complete-container" class="last-shipment-container mutis-container-bottom container hidden">
                    <div class="last-shipment-complete-info">
                        <div class="multis-complete multis-confirmation">
                            Last Shipment Complete
                            <h6>SP00</h6>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- #multis-item-info -->

        <!-- Modals container -->
        <div id="multis-modal-container">
            <div class="modal-bg"></div>

            <div id="invalid-cart-modal" class="modal-container2"></div>

            <div id="scan-pslip" class="modal-container2 scan-pslip"></div>

            <div id="invalid-spoo-modal" class="modal-container2"></div>

            <div id="activation-modal" class="modal-container2 serial-scan">
                <header id="serial-scan-header" class="exception-modal-header container-header">Attention</header>
                <div class="padding125">
                    <div id="serial-scan-label" class="warning-label-container">Scan serial number</div>
                    <div class="modal-image two-steps"><img src="img/modal_ActivationScan.jpg" alt="" /></div>
                    <p id="serial-scan-text" class="warning-message">You need to scan 1 barcode for this item.</p>
                    <h6 class="modal-text-label">Item</h6>
                    <p class="exception-title-text">Product name</p>
                    <h6 class="modal-text-label">Status</h6>
                    <p class="scan-status-text error-text">Waiting for scan...</p>
                </div>
            </div>
        </div>
        <!-- End Modals container -->

    <!-- End Multis main wrapper -->
    </div>


    <!-- #modal-pslip-template -->
    <script type="text/template" id="modal-pslip-template">
        <header id="scan-pslip-header" class="exception-modal-header container-header">Attention</header>
        <div class="padding125">
            <div id="scan-pslip-warning-label" class="warning-label-container problem-resolution-label">Scan PSLIP</div>
            <div class="modal-image three-steps"><img src="img/modal_ScanPSLIP.jpg" alt="" /></div>
            <p id="scan-pslip-warning-message" class="warning-message">This shipment needs a Packing Slip (PSLIP). Get the PSLIP from your printer, scan it, and put it in the box.</p>
            <p id="scan-pslip-warning-message-2" class="warning-message">If your PSLIP didn't print, use the Can't Print PSLIP (a) problem in the Problem Menu (p) to report it, and turn on your Andon light to call a problem solver.</p>
            <div class="scan-pslip-box-container">
                <h6 id="scan-pslip-boxrec-label" class="modal-text-label">Box Recommendation</h6>
                <span id="scan-pslip-boxrec" class="modal-box-recommendation br-<%= boxRec %>"><%= boxRec %></span>
            </div>
            <div class="scan-pslip-status-container">
                <h6>Status</h6>
                <p class="error-text">Waiting for scan...</p>
            </div>
        </div>
    </script>

    <!-- #modal-invalid-cart-template -->
    <script type="text/template" id="modal-invalid-cart-template">
        <header class="exception-modal-header container-header">Attention</header>
        <div class="padding125">
            <div id="invalid-tote-label-container" class="warning-label-container recoverable-exception-label">Scan a cart</div>
            <p id="invalid-tote-text" class="warning-message">The computer was expecting a cart to be scanned. Scan a cart to continue. If you get this message again, call a Problem Solver.</p>
            <p class="modal-text-label barcode-label">Barcode</p>
            <p class="exception-title-text invalid-spoo-barcode"><%= scanVal %></p>
        </div>
    </script>

    <!-- #modal-invalid-spoo-template -->
    <script type="text/template" id="modal-invalid-spoo-template">
        <header id="scan-spoo-header" class="exception-modal-header container-header">Attention</header>
        <div class="padding125">
            <div id="invalid-spoo-label-container" class="warning-label-container recoverable-exception-label">Scan a SP00 Label</div>
            <div class="modal-image three-steps"><img src="img/modal_ScanSP00.jpg" alt="" /></div>
            <p id="invalid-spoo-text-1" class="warning-message">The computer was expecting you to scan a SP00 label, but the barcode you scanned wasn’t recognized as a SP00.</p>
            <p id="invalid-spoo-text-2" class="warning-message">If you still have the shipment, scan a SP00 to continue.</p>
            <p id="invalid-spoo-text-3" class="warning-message">If the shipment was sent down the line without a SP00, use the Forgot SP00 (g) problem in the Problem menu (p) to report it.</p>
            <p class="modal-text-label">Barcode</p>
            <p class="exception-title-text invalid-spoo-barcode"></p>
        </div>
    </script>

    <!-- #main-header-template -->
    <script type="text/template" id="main-header-template">
        <div id="clock" class="clock-text"></div>
        <img src="img/pack_logo.png" alt="Pack App">
        <nav class="float-right">
            <ul>
                <li class="problem-button">problem
                    <span class="main-nav-hotkey">p</span>
                </li>
                <li class="help-button">help
                    <span class="main-nav-hotkey">h</span>
                </li>
                <li class="user-menu">user menu
                    <span class="main-nav-hotkey">u</span>
                </li>
                <li class="username">username</li>
                <li><img id="user-img" src="img/user.jpg" alt="User Image"></li>
            </ul>
        </nav>
    </script>

    <!-- #caret-left-template -->
    <script type="text/template" id="caret-left-template">
        <ul>
            <li class="multis-caret-left">
                <img src="img/caret_left.gif" alt="" />
            </li>
            <li class="multis-caret-right">
                <img src="img/caret_right.gif" alt="" />
            </li>
        </ul>
    </script>

    <!-- #items-view-template -->
    <script type="text/template" id="items-view-template">
        <header class="rounded-top-corners-small">
            <span id="multis-tote-items-number" class="multis-tote-items-number"><%= (mode === 'scanCart' || unscannedLength < 1) ? '' : unscannedLength %></span>
            Items to Scan
        </header>
        <% if (mode === 'scanCart') { %>
            <div class="scan-cart">Scan Cart</div>
            <div id="multis-items-container" class="multis-items">
                <% } else if (mode === 'scanning') { %>
                    <div id="multis-active-item-container" class="multis-active-item-container">Scan an item to pack</div>
                    <ol id="multis-unscanned-items-list" class="multis-unscanned-items-list">
                        <%
                        var count, item;
                        for (var asin in unscanned) {
                            count = unscanned[asin].count;
                            item = unscanned[asin].model;
                        %>
                            <li><%= (count > 1) ? '<span class="item-count-multis">' + count + '</span>' : '' %><%= item.get('title') %></li>
                        <% } %>
                    </ol>
                    <ol id="multis-scanned-items-list" class="multis-scanned-items-list">
                        <%
                        var count, item;
                        for (var asin in scanned) {
                            count = scanned[asin].count;
                            item = scanned[asin].model;
                        %>
                            <li><%= (count > 1) ? '<span class="item-count-multis">' + count + '</span>' : '' %><%= item.get('title') %></li>
                        <% } %>
                    </ol>
                <% } else if (mode === 'slotItemsComplete') { %>
                    <div id="multis-all-items-scanned" class="multis-all-items-scanned">
                        <img src="img/checkmark_small.png" alt="" />
                        All items have been scanned
                    </div>
                    <ol id="multis-scanned-items-list" class="multis-scanned-items-list">
                        <%
                        var count, item;
                        for (var asin in scanned) {
                            count = scanned[asin].count;
                            item = scanned[asin].model;
                        %>
                            <li><%= (count > 1) ? '<span class="item-count-multis">' + count + '</span>' : '' %><%= item.get('title') %></li>
                        <% } %>
                    </ol>
                <% } %>
            </div>
    </script>

    <script type="text/template" id="shipment-template">
        <%
            var clsName = 'shipment-single-step';
            if (steps.length === 1) clsName = 'shipment-double-step';
            if (steps.length === 2) clsName = 'shipment-triple-step';
        %>
        <div class="<%= clsName %>">
            <% _.each(steps.models, function(step) { %>
            <h4 class="<%= step.get('type') %> <%= step.get('status') %>"><span><%= step.getText() %></span></h4>
            <% }); %>
            <h4 class="spoo <%= spooStep.get('status') %>"><span><%= spooStep.getText() %></span></h4>
        </div>
    </script>

    <!-- Load Libraries -->
    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
    <script src="js/pub-sub.js"></script>
    <script src="js/utils.js"></script>
    <!-- Load Project Files -->
    <script src="js/models/models.js"></script>
    <script src="js/collections/collections.js"></script>
    <script src="js/views/views.js"></script>
    <script src="js/routers/routers.js"></script>
    <script src="js/controllers/controllers.js"></script>
    <script src="js/clock.js"></script>
    <script src="js/app.js"></script>
</body>
</html>